### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
.class

### Mac OS ###
.DS_Store
src/App.class
src/Bratling.class
src/Broetchen.class
src/Burger.class
src/DyeBucket.class
src/Gemuese.class
src/Gemuese$Scheibenart.class
src/Geschmack.class
src/hatGeschmack.class
src/Kommando.class
src/Kommando$Kommandotyp.class
src/Salat.class
src/Sauce.class
src/Zutat.class
